@model IEnumerable<AnonymousForum.Models.Reply>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReplyTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReplyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thread)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReplyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReplyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thread.ThreadDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReplyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReplyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReplyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
