@model AnonymousForum.Models.ViewModels.TopicThreadReplyViewModel

@{
    ViewData["Title"] = "Details";
}

<style>
    .title-style {
        font-size: 22px;
        font-weight:600;
    }

    .topic-style {
        font-weight: 100;
        font-style:italic;
    }
</style>

<h1>Details</h1>

<div>
    <h4>Thread</h4>
    <hr />
    <dl class="row">
       @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreadTitle)
        </dt>*@
        <dd class="col-sm-10 title-style">
            @Html.DisplayFor(model => model.Thread.ThreadTitle)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreadDescription)
        </dt>*@ 
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thread.ThreadDescription)
        </dd>
        <div>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
            <dd class="col-sm-10 topic-style">
            @Html.DisplayFor(model => model.Topic.TopicName)
        </dd>
        </div>
    </dl>
</div>


<div>
    <h4>Replies</h4>
    <hr />
    @foreach (var reply in Model.Replies)
    {
        <div>
            <p>@reply.ReplyTitle</p>
            <p>@reply.ReplyDescription</p>
        </div>
    }
    <div>
        <a href="@Url.Action("Create", "Replies", new { FkThreadId = Model.Thread.ThreadId })" class="btn btn-primary">Create New Reply</a>
    </div>
    @*<partial name="~/Views/Replies/Create.cshtml" />*@
</div>



<div>
    <a asp-action="Edit" asp-route-id="@Model?.Thread?.ThreadId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
