@model IEnumerable<AnonymousForum.Models.Thread>

@{
    ViewData["Title"] = "Index";
}

<h1>Threads</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThreadTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreadDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThreadTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreadDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.TopicName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ThreadId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ThreadId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ThreadId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
